<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">
      <!-- <img
        src="../../assets/images/navbar.jpg"
        width="50"
        height="50"
        class="d-inline-block align-top"
        alt=""
      /> -->
      Star Finance
    </a>
    <span *ngIf="userName" class="login-name d-none d-md-block ml-auto p-3">{{
      userName
    }}</span>
    <button
      *ngIf="isCustomerLoggedIn"
      class="btn btn-outline-danger my-2 my-sm-0"
      (click)="customerLogout()"
    >
      Logout
    </button>
    <button
      *ngIf="isEmployeeLoggedIn"
      class="btn btn-outline-danger my-2 my-sm-0"
      (click)="employeeLogout()"
    >
      Logout
    </button>
  </div>
</nav>
