<mat-vertical-stepper linear #stepper>
  <mat-step
    [stepControl]="firstFormGroup"
    editable="false"
    completed="aadharStatus"
  >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>KYC Verfication</ng-template>
      <mat-form-field>
        <mat-label>Aadhar No.</mat-label>
        <input
          matInput
          formControlName="aadhar"
          placeholder="12 Digit Aadhar Number"
        />
        <mat-error *ngIf="aadhar.errors && aadhar.touched">
          Your Aadhar Doesn't Look Valid
        </mat-error>
      </mat-form-field>
      <div>
        <button
          [disabled]="!firstFormGroup.valid"
          mat-raised-button
          (click)="aadharSubmission()"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step
    [stepControl]="secondFormGroup"
    editable="false"
    completed="formStatus"
  >
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Loan Details</ng-template>

      <mat-form-field>
        <mat-label>Customer Number</mat-label>
        <input matInput formControlName="kn" readonly />
        <mat-error *ngIf=""> </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Gold Type</mat-label>
        <mat-select formControlName="goldtype">
          <mat-option value="8">8 Carat</mat-option>
          <mat-option value="16">16 Carat</mat-option>
          <mat-option value="24">24 Carat</mat-option>
        </mat-select>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Weight (in grams)</mat-label>
        <input matInput formControlName="weight" />
        <mat-error *ngIf=""> </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Jewelery Purchased Place</mat-label>
        <input matInput formControlName="place" />
        <mat-error *ngIf=""> </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Jewelers Name</mat-label>
        <input matInput formControlName="jewelers_name" />
        <mat-error *ngIf=""> </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Jewelers Address</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          formControlName="jewelers_address"
        ></textarea>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Account Holder Name</mat-label>
        <input matInput formControlName="accHolder" />
        <mat-error *ngIf=""> </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field appearance="none">
        <input matInput style="display: none;" />
        <label mat-label>Joint Account</label>
        <mat-radio-group formControlName="jointAcc">
          <mat-radio-button value="yes">Yes</mat-radio-button>
          <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Acoount Type</mat-label>
        <mat-select formControlName="accType">
          <mat-option value="SA">Saving Account</mat-option>
          <mat-option value="CA">Current Account</mat-option>
        </mat-select>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Account Number</mat-label>
        <input matInput formControlName="accNum" />
        <mat-error *ngIf=""> </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>IFSC Code</mat-label>
        <input matInput formControlName="ifsc" />
        <mat-error *ngIf=""> </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Bank Name</mat-label>
        <input matInput formControlName="bankName" />
        <mat-error *ngIf=""> </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Branch Name</mat-label>
        <input matInput formControlName="branchName" />
        <mat-error *ngIf=""> </mat-error>
      </mat-form-field>

      <br />

      <mat-label class="declaration">Declaration</mat-label>
      <mat-checkbox formControlName="declaration" class="mat-checkbox-text"
        ><div class="text-wrap">
          I Agree that all the Information provided above is True and Honest
        </div>
      </mat-checkbox>

      <br />

      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button
          mat-raised-button
          (click)="formSubmission()"
          [disabled]="!secondFormGroup.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step editable="false" completed="imageStatus">
    <ng-template matStepLabel>Gold Image Upload</ng-template>
    <p>Your Reference ID is {{ refid }}</p>

    <div *ngIf="!imageUrl">
      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)" />
      </label>
      <button
        class="btn btn-success"
        [disabled]="!selectedFile"
        (click)="upload()"
      >
        Upload
      </button>
    </div>
    <div class="container">
      <img
        *ngIf="!!imageUrl"
        [src]="imageUrl"
        class="img-responsive"
        width="400"
        height="400"
        alt="img error"
      />
    </div>

    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button [disabled]="!imageUrl" mat-raised-button matStepperNext>
        Next
      </button>
    </div>
  </mat-step>

  <mat-step editable="false" completed="resultStatus">
    <ng-template matStepLabel>Submission Process</ng-template>

    <p>Your Reference ID is {{ refid }}</p>

    <div class="container">
      <div *ngIf="result === 'pending'">
        <p class="text-wrap">
          Thanks for you Cooperation , Your application has been sent to our
          Verification team.
        </p>
      </div>

      <div *ngIf="result === 'verified'">
        <p class="text-wrap">
          Thanks for you Cooperation , Your application has been Verified
          Successfully .
        </p>
        <p class="text-wrap">
          Kindly Visit the bank to submit your Jewelery. Kindly carry the
          Reference id given above .
        </p>
      </div>

      <div *ngIf="result === 'rejected'">
        <p class="text-wrap">
          Thanks for you Cooperation , Unfortunately Your application has failed
          in the Verification process .
        </p>
        <p class="text-wrap">
          Kindly contact the Customer care to know more Details .
        </p>
      </div>

      <div *ngIf="result === 'reviewed' && !msg">
        <p *ngIf="!amount" class="text-wrap">
          Thanks for you Cooperation , Your Jewelery has been reviewed
          Successfully , Kindly Click the button below to know your sanctioned
          Amount.
        </p>
        <button
          *ngIf="!amount"
          mat-stroked-button
          color="accent"
          (click)="checkAmount()"
        >
          Amount
        </button>
        <div *ngIf="!!amount">
          {{ amount }}
        </div>

        <div *ngIf="!!amount">
          <p class="text-wrap">
            On Accepting the Sanctioned Loan amount , the Amount will be
            Credited directly to your Account .
          </p>
          <p class="text-wrap">
            On Declining the Sanctioned Loan amount , You will have to pay a
            processing charge of Rs.500 and can recieve the gold back from the
            Bank.
          </p>

          <form [formGroup]="thirdFormGroup">
            <mat-form-field appearance="none">
              <input matInput style="display: none;" />
              <label mat-label>Approved Loan Amount</label>
              <mat-radio-group formControlName="result">
                <mat-radio-button value="yes">Accept</mat-radio-button>
                <mat-radio-button value="no">Decline</mat-radio-button>
              </mat-radio-group>
            </mat-form-field>
            <button mat-button (click)="resultSubmission()">Submit</button>
          </form>
        </div>
      </div>

      <div *ngIf="!!msg">
        <p class="text-wrap">
          {{ msg }}
        </p>
      </div>
    </div>

    <div>
      <!-- <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button> -->
    </div>
  </mat-step>
</mat-vertical-stepper>
